<div id="side" ng-include="'partials/includes/side.html'"></div>

<div id="main">
    <div class="pure-menu pure-menu-open pure-menu-horizontal" id="header" ng-include="'partials/includes/header.html'"></div>

    <div id="content">

        <form class="pure-form pure-form-stacked" ng-submit="save(data)" name="form">

            <ul class="actions">
                <li><button class="pure-button pure-button-primary" type="submit">Salvar</button></li>
            </ul>

            <div class="breadcrumb">
                <h1><i ng-class="module.icon"></i> {{acao}} <a href="#/{{module.uri}}">{{module.title}}</a></h1>
            </div>

            <fieldset>
                <div ng-repeat="field in module.fields" ng-include="'partials/fields/edit/'+field.type+'.html'"></div>
            </fieldset>
        </form>

    </div>
</div>

