<div id="side" ng-include="'partials/includes/side.html'"></div>

<div id="main">
	<!-- <div class="pure-menu pure-menu-open pure-menu-horizontal" id="header" ng-include="'partials/includes/header.html'"></div> -->

	<div id="content">

		<form class="pure-form pure-form-stacked" ng-submit="save(data)" name="form">

			<ul class="actions">
				<li  ng-repeat="button in module.buttons | fieldsByFlags">
					<a class="pure-button custom-button" custom-button ng-click="doButtonAction(button, structure.user.access_token, actionFlag, data.id)"><i ng-class="button.icon"></i> {{button.label}} <i ng-show="button.loading" class="icon-spin icon-spinner"></i></a>
				</li>

				<li class="divisor" ng-show="module.buttons.length > 0"></li>

				<li><button need-flag="u" class="pure-button pure-button-primary" type="submit">Salvar</button></li>
			</ul>

			<div class="breadcrumb">
				<h1><i ng-class="module.icon"></i> {{acao}} <a href="#/{{module.uri}}">{{module.title}}</a> {{(data.id) && '#' + data.id || ''}} <loader /></h1>
			</div>

			<fieldset ng-show="data">
				<div class="pure-control-group" ng-repeat="field in module.fields | fieldsByFlags" ng-include="'partials/fields/edit/'+ ((actionFlag == 'c' || hasFlag(field.flags, 'u')) && field.type || 'readonly') + '.html'"></div>
			</fieldset>
		</form>

	</div>
</div>

