<div id="side" ng-include="'partials/includes/side.html'"></div>

<div id="main">
	<!-- <div class="pure-menu pure-menu-open pure-menu-horizontal" id="header" ng-include="'partials/includes/header.html'"></div> -->

	<div id="content">

		<ul class="actions">
			<li class="custom-button" ng-repeat="button in module.buttons | fieldsByFlags">
				<a class="pure-button" custom-button ng-click="doButtonAction(button, structure.user.access_token, actionFlag)"><i ng-class="button.icon"></i> {{button.label}} <i ng-show="button.loading" class="icon-spin icon-spinner"></i></a>
			</li>

			<li class="divisor" ng-show="module.buttons.length > 0"></li>

			<li need-flag="f">
				<form class="pure-form search-form" ng-submit="search()">
					<input type="search" ng-model="search_text" class="pure-input-rounded" placeholder="palavra chave...">
					<button type="submit" class="pure-button"><i class="icon-search"></i></button>
					<button ng-show="urlSearch()" class="pure-button pure-button-error" ng-click="resetSearch()"><i class="icon-remove"></i> Limpar Busca</button>
				</form>
			</li>

			<li class="divisor" ng-show="hasFlag(module.flags, 'c')"></li>

			<li need-flag="d" ng-show="hasAtLeastOneCheckboxChecked()"><button class="pure-button pure-button-error" ng-click="removeSelected()">Remover Selecionados</button></li>
			<li need-flag="c" ng-class="divisor"><a href="#/{{module.uri}}/new" class="pure-button pure-button-primary">Novo</a></li>
		</ul>

		<div class="breadcrumb">
			<h1><i ng-class="module.icon"></i> {{module.title}} <loader /></h1>
		</div>

		<table class="pure-table pure-table-horizontal table" ng-class="{editable: hasFlag(module.flags, 'ru')}" ng-show="data">
			<thead>
				<tr>
					<th need-flag="d" width="15"><input type="checkbox" ng-model="all_checkboxes" ng-change="toggleAllCheckboxes()" /></th>
					<th ng-repeat="f in module.fields | fieldsByFlags" width="{{(f.type == 'toggle') && '70px' || ''}}" ng-click="doOrder(f, pagination)" ng-class="{'can-order': hasFlag(f.flags, 'O')}">{{f.label}} <i ng-class="{'icon-sort-by-alphabet': (order.by == f.name && order.reverse == false || order.reqBy == f.name && order.reqReverse == false), 'icon-sort-by-alphabet-alt': (order.by == f.name && order.reverse == true || order.reqBy == f.name && order.reqReverse == true), 'icon-angle-down': (order.by != f.name && order.reqBy != f.name && hasFlag(f.flags, 'O'))}"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="data in data | orderBy:order.by:order.reverse">
					<td need-flag="d" width="15"><input type="checkbox" ng-model="checkboxes[data.id]" /></td>
					<td ng-repeat="field in module.fields | fieldsByFlags" ng-click="edit($event)" ng-include="'partials/fields/list/'+field.type+'.html'"></td>
				</tr>
			</tbody>
		</table>

		<p ng-show="count == 0">Nenhum registro encontrado, tente ser menos específico.</p>

		<br />

		<div class="center">
			<ul class="pure-paginator" ng-show="pagination.count > 1">
				<li ng-show="pagination.previous"><a class="pure-button prev" href="#/{{module.uri}}/{{pagination.previous}}{{(urlSearch()) && '?search=' + urlSearch() || ''}}">&#171;</a></li>
				<li ng-repeat="page in [] | pagination:pagination.current:pagination.count"><a class="pure-button" ng-class="{'pure-button-active': (page == pagination.current)}" href="#/{{module.uri}}/{{page}}{{(urlSearch()) && '?search=' + urlSearch() || ''}}">{{page}}</a></li>
				<li ng-show="pagination.next"><a class="pure-button next" href="#/{{module.uri}}/{{pagination.next}}{{(urlSearch()) && '?search=' + urlSearch() || ''}}">&#187;</a></li>
			</ul>
		</div>

	</div>
</div>

