<div upload>
	<label>{{field.label}}</label>

	<span ng-show="data.data[field.name].length < field.limit">
		<input
			jd-upload

			jd-state="uploads.uploading"

			jd-url-method="jdUploadURL()"
			jd-json="true"
			jd-placeholder="<img class='ajax-loader' src='img/ajax-loader.gif' />"
			jd-auto-submit="true"
			jd-accept="field.accepts"

			on-finished="jdFinished(content, didUpload)"
			on-error="jdLg('error')"
			on-success="jdSuccess(content)"

			type="file"
			name="attachment[]"

			ng-multiple="{{field.limit > 1}}"
		/>
	</span>

	<div class="form-error" ng-show="uploads.error">{{uploads.error}}</div>

	<table class="pure-table pure-table-odd" ng-show="data.data[field.name].length > 0">
		<thead>
			<tr>
				<th width="20%">Preview</th>
				<th width="80%">Arquivo</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(index, file) in data.data[field.name]">
				<td><img ng-src="{{file.thumb}}" /></td>
				<td>{{file.name}}</td>
				<td>
					<button ng-click="deleteFile(index, structure.user.access_token)" type="button" class="pure-button pure-button-error"><i class="icon-remove"></i></button>
				</td>
			</tr>
		</tbody>
	</table>

</div>