<label>{{field.label}}</label>
<div password="data.data[field.name]">
	<a need-flag="u" class="pure-button" ng-class="" ng-click="showFields()" ng-show="!change">Alterar {{field.label}}</a>
	<div ng-show="change">
		<input name="{{field.name}}" type="password" class="pure-input-1" placeholder="{{field.type}}" ng-model="data.data[field.name]" ng-required="field.validation.required" pattern="{{field.validation.pattern}}" title="{{field.validation.title | label}}" id="{{field.name}}-id" />
		<label>Repita</label>
		<input name="{{field.name}}-confirm" type="password" class="pure-input-1" placeholder="{{field.type}}" ng-model="data.data[field.name + '-confirm']" ng-required="field.validation.required" pattern="{{data.data[field.name]}}" title="{{field.validation.title | label}}" id="{{field.name}}-confirm-id" />
	</div>
</div>