<div upload>
	<label>{{field.label}}</label>

	<span ng-show="data[field.name].length < field.limit">
		<input
			jd-upload

			jd-state="jdUploading"

			jd-url-method="jdUploadURL()"
			jd-json="true"
			jd-placeholder="<img class='ajax-loader' src='img/ajax-loader.gif' />"
			jd-auto-submit="true"

			on-start="jdStart(value)"
			on-finished="jdFinished(content, didUpload)"
			on-error="jdLg('error')"
			on-success="jdSuccess(content)"

			type="file"
			name="attachment[]"

			ng-multiple="{{field.limit > 1}}"

		/>
	</span>

	<table class="pure-table pure-table-odd" ng-show="data[field.name].length > 0">
		<thead>
			<tr>
				<th width="100%">Arquivo</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(index, file) in data[field.name]">
				<td>{{file.name}}</td>
				<td>
					<button ng-click="deleteFile(index)" type="button" class="pure-button pure-button-error"><i class="icon-remove"></i></button>
				</td>
			</tr>
		</tbody>
	</table>

</div>