<label>{{field.label}}</label>

<input
	jd-upload

	jd-state="jdUploading"

	jd-url="{{field.resource_url + '/' + data['id'] + '/'}}"
	jd-json="true"
	jd-placeholder="<img class='ajax-loader' src='img/ajax-loader.gif' />"
	jd-auto-submit="true"

	on-start="jdStart(value)"
	on-finished="jdFinished(content, didUpload)"
	on-error="jdLg('error')"
	on-success="jdSuccess(content)"

	type="file"
	name="attachment[]"

	multiple="{{field.limit != 1}}"

	
/>
<!-- TODO: Fazer ng-show..
ng-show="{{(field.limit == 0) || (data[field.name].length < field.limit)}}"
-->

<label ng-show="data[field.name].length > 0">Arquivos:</label>
<code ng-repeat="file in data[field.name]">
	<mark>{{file.path}}</mark><br />
</code>
