<div class="user-info">
	<div class="user-info-image"><img ng-src="http://2.gravatar.com/avatar/{{structure.user.gravatar_hash}}" width="50" height="50" /></div>
	<div class="user-info-name">{{structure.user.name}}</div>
	<a href="#/meusdados" class="user-info-change-data">meus dados <i class="icon-edit"></i></a>
	<a href="#" ng-click="logout()" class="user-info-logout">sair <i class="icon-signout"></i></a>
</div>

<div class="pure-menu pure-menu-open">
	<ul>
		<li ng-repeat="m in structure.modules | filter:{menu: 'side'}" ng-class="m.type">
			<a href="#/{{m.uri}}" ng-class="{active: m.uri == module.uri}"><i ng-class="m.icon"></i> {{m.title}} <span class="tag" ng-show="m.tagVisible">{{m.tag}}</span></a>
		</li>
	</ul>
</div>